* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(77, 166, 250);
}

.parallax {
  /*  To dajemy jak chcemy stworzyć prostą paralaxe bez js */

  /* background-image: url(/images/img3.png) no-repeat;
  background-attachment: fixed;
  background-position: left; */

  background-size: 80%;
  display: flex;
  height: 300vh;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  display: fixed;
  z-index: 99;
  height: 45px;
  width: 240px;
  background: transparent;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.lower_header {
  height: 5%;
  width: 100%;
  display: flex;
  text-align: center;
  width: 100%;
  justify-content: flex-start;
  top: 60px;
  position: absolute;
}

.lower_header h1 {
  text-shadow: 2px 2px rgb(77, 77, 77);
  word-spacing: 500px;
  color: rgb(0, 0, 0);
  font-size: 100px;
  margin-left: 100px;
  font-family: "Lato", sans-serif;
}

.text_column {
  color: rgb(27, 13, 0);
  width: 20%;
  height: 150vh;
  text-align: center;
  float: right;
  font-size: 20px;
  background: none;
  top: 100px;
  font-family: "Lato", sans-serif;
  position: absolute;
  right: 0;
}

.text_column .just_text::first-letter {
  -webkit-initial-letter: 4;
  initial-letter: 4;
  color: rgb(255, 0, 0);
  margin-right: 0.2em;
}

.text_column2 {
  color: rgb(27, 13, 0);
  width: 10%;
  height: 100vh;
  text-align: center;
  float: right;
  font-size: 20px;
  background: none;
  top: 600px;
  font-family: "Lato", sans-serif;
  position: absolute;
  right: 580px;
  z-index: 0;
}

.text_column2 .just_text::first-letter {
  -webkit-initial-letter: 4;
  initial-letter: 4;
  color: rgb(255, 0, 0);
  margin-right: 0.2em;
}

.big_footer {
  bottom: 0;
  position: fixed;
  display: flex;
  z-index: 3;
  width: 100%;
  height: 100px;
  justify-content: space-between;
}

.big_footer .footer-left {
  color: rgb(0, 0, 0);
  text-decoration: overline;
  height: 10%;
  left: 3%;
  position: fixed;
  bottom: 0;
  z-index: 3;
}
.big_footer .footer-right {
  color: rgb(0, 0, 0);
  height: 10%;
  padding-right: 10%;
  position: fixed;
  bottom: 0;
  z-index: 3;
  right: -5%;
}

.big_footer .footer-left h1 {
  text-decoration: overline;
  text-shadow: 2px 2px rgb(77, 77, 77);
  font-family: "Sansita Swashed", cursive;
}

.big_footer .footer-right h1 {
  text-decoration: overline;
  text-shadow: 2px 2px rgb(77, 77, 77);
  font-family: "Sansita Swashed", cursive;
}

.Btn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 50%;
  z-index: 4;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: rgb(2, 2, 2);
  color: rgb(255, 255, 255);
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  box-shadow: 2px 2px rgb(77, 77, 77);
}

.Btn:hover {
  color: rgb(255, 255, 255);
  background-image: linear-gradient(180deg, rgb(23, 111, 252), rgb(255, 0, 0));
}
